@mixin absolute-el ($top, $right, $bottom, $left, $x, $y) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    transform: translate($x, $y);
}

@mixin pseudo-el ($display: block, $pos: absolute, $content: ''){
    content:$content;
    display: $display;
    position: $pos;
}

@mixin bg-gradient($primary, $secondary){
    background: linear-gradient(170deg, $secondary, $primary);
}