.functioning {
    padding: 50px 20px;
    margin: 0 auto;
    .functioning_container {
        @include sm {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .functioning_box {
            display: flex;
            flex-wrap: wrap;
            margin: 20px 0;
            padding: 30px 0px 30px 20px;
            font-weight: 600;
            background-color: $bgcolor_light;
            @include borderRadius();
            position: relative;
            cursor: pointer;

            @include sm {
                width: 350px;
                padding: 30px;
            }

            i {
                margin-right: 10px;
                color: rgba(0, 0, 0, 0.5);

                @include sm {
                    margin-right:20px;
                }
            }

            &::before {
                content: attr(data-count);
                @include absolute-el(50%, 0, 0, -12px, 0, -50%);
                @include center-logo(25px, 25px, 25px);
                text-align: center;
                color: $buttoncolor;
                background-color: $primary;
                @include borderRadius(50%,50%,50%,50%);
            }
       
            &:hover {
                background-color: $bgcolor-functionning;

                i {
                    color: $primary;
                }
            }
        }
    }
}
