@use '../Utils/' as *;

.restaurant {
    padding: 0 20px;
    margin: 0 auto;

    .restaurant__container {
        @include md {
            display: grid;
            column-gap: 40px;
            row-gap: 20px;
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 30px;
        }
    }
}


.restaurant-article{
    position: relative;
    margin: 20px 0;
    
    strong {
        font-size: 1.8rem;
        height: 40px;
        width: 100px;
        @extend %flex-center;
        color: $buttonNew;
        background: $bgcolor_NewAndCheck;
        @include borderRadius(5px, 5px, 5px, 5px);
        @include absolute-el(10px, 20px, 0, auto, 0, 0);
        
        
    }
}

.restaurant-card {
    @include borderRadius();


    @include md {
        margin-bottom: 0;
    }

    &__img {
        height: 180px;
        width: auto;

        @include xl {
            height: 250px;
        }

        img {
            height: 100%;
            object-fit: cover;
            @include borderRadius(25px, 25px, 0, 0);
        }
    }

    &__info {
        @extend %flex-center;
        justify-content: space-between;
        height: 80px;
        padding: 20px;
        background-color: white;
        @include borderRadius(0, 0);

        &__name {
            h3 {
                font-size: 1.7rem;
                margin-bottom: 5px;
            }
        }
    }
}
