.reservation {
    .reservation_localisation {
        font-size: 1.8rem;
        font-weight: 600;
        height: 50px;
        width: 100%;
        background-color: $bgcolor_dark;
        @extend %flex-center;
// margin -left pour aligner Titre header et Logo Pin ? 

        i{
            margin-right: 20px;
        }
    }

    .reservation_header {
        width: 100%;
        padding: 45px 30px;
        background-color: $bgcolor_light;
        @extend %flex-center;
        flex-direction: column;
        

        h2 {
            margin-bottom: 25px;
            text-align: center;
            
        }

        p {
            margin-bottom: 30px;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 300;
            
        }
    }
}
