.reservation {
    .reservation_localisation {
        font-weight: 600;
        height: 50px;
        background-color: $bgcolor_dark;
        @extend %flex-center;

        i{
            margin-right: 20px;
        }
    }

    .reservation_header {
        padding: 45px 30px;
        background-color: $bgcolor_light;
        @extend %flex-center;
        flex-direction: column;
        

        h2 {
            margin-bottom: 25px;
            text-align: center;
            
        }

        p {
            margin-bottom: 30px;
            text-align: center;
            
        }
    }
}
