.menu {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -50px;
    padding: 20px;
    margin-bottom: -50px;
    background-color: $bgcolor_light;
    border-radius: 40px 40px 0 0;

    @include sm {
        border-radius: 40px;
        margin: 0 50px;
    }
    @include breakpoint(1440px) {
        margin: 0 auto 50px;
    }
    .menu-header {
        @extend %flex-center;
        justify-content: space-between;
        height: 80px;
        border-radius: 25px;

        h1 {
            font-family: "Shrikhand", cursive;
            font-size: 3rem;
        }

        .heart {
            margin-right: 20px;
        }
    }

    button {
        margin: 50px auto;
    }
}

.menu_information {
    @include lg {
        display: flex;
        justify-content: space-between;
    }
    .menu_card {
        display: flex;
        flex-direction: column;

        @include lg {
            width: 32%;
        }

        &:first-of-type h2 {
            margin-top: 0;
        }

        h2 {
            text-transform: uppercase;
            position: relative;
            padding: 8px 0;
            margin-top: 40px;

            @include lg {
                margin-top: 0;
            }

            &::before {
                @include pseudo-el;
                width: 40px;
                height: 3px;
                background-color: $bgcolor_NewAndCheck;
                bottom: 0;
                left: 0;
            }
        }
    }
}

.menu_card_info {
    display: flex;
    align-items: center;
    height: 80px;
    margin-top: 15px;
    padding: 15px 20px;
    background-color: $bgcolor_card;
    @include borderRadius();
    opacity: 0;
    cursor: pointer;

    .menu_card_text {
        min-width: 50px;
        h3 {
            min-width: 50px;
            @extend %ellipsis;
        }

        p {
            @extend %ellipsis;
            margin-top: 5px;
        }
    }

    .menu_card_price {
        margin-left: auto;
    }

    .menu-checkout {
        width: 0px;
        height: 0px;
        border-radius: 0 25px 25px 0;
        background-color: $bgcolor_NewAndCheck;
        transform: translateX(20px);
        @extend %flex-center;

        i {
            font-size: 2.8rem;
            opacity: 0;
            color: #fff;
        }
    }

    &:hover .menu-checkout {
        animation: translateCheckout 500ms linear 0s 1 both;
    }

    &:hover .menu-checkout i {
        animation: opacityCheckout 200ms ease-in-out 200ms 1 both,
            rotate 600ms linear 400ms 1 both;
    }

}
// ----------------------- ANIMATION-----------------------------------



// .card_entrees {
//     .menu_card_info:nth-of-type(1) {
//         animation: Apparition 1000ms ease-in-out 0s both;
//     }
//     .menu_card_info:nth-of-type(2) {
//         animation: Apparition 1000ms ease-in-out 100ms both;
//     }
//     .menu_card_info:nth-of-type(3) {
//         animation: Apparition 1000ms ease-in-out 200ms both;
//     }
//     .menu_card_info:nth-of-type(4) {
//         animation: Apparition 1000ms ease-in-out 300ms both;
//     }
// }

// .card_plat {
//     .menu_card_info:nth-of-type(1) {
//         animation: Apparition 1000ms ease-in-out 300ms both;
//     }
//     .menu_card_info:nth-of-type(2) {
//         animation: Apparition 1000ms ease-in-out 400ms both;
//     }
//     .menu_card_info:nth-of-type(3) {
//         animation: Apparition 1000ms ease-in-out 500ms both;
//     }
// }

// .card_dessert {
//     .menu_card_info:nth-of-type(1) {
//         animation: Apparition 1000ms ease-in-out 600ms both;
//     }
//     .menu_card_info:nth-of-type(2) {
//         animation: Apparition 1000ms ease-in-out 700ms both;
//     }
//     .menu_card_info:nth-of-type(3) {
//         animation: Apparition 1000ms ease-in-out 800ms both;
//     }
// }


.menu_card_info{
    animation-name: Apparition;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}
