@use '../Utils/' as *;




.banner{
    
    img{
        
        height: 270px;
        object-fit: cover;

        @include md{
            height: 300px;
        }

        @include lg{
            height: 350px;
        }

        @include xl{
            height: 400px;
        }
    }
}