@use '../Utils/' as *;

.spinner {
    position: fixed;
    @extend %flex-center;
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: #000000, $alpha: 0.3);
    z-index: 1;
    opacity: 1;
    animation: Disapear 0.01s 2s 1 both;

    .loader {
        @include center-logo(75px, 75px, 75px);
        border: 5px solid transparent;
        border-top-color: $primary;
        border-bottom-color: $primary;
        @include borderRadius(100px ,100px ,100px ,100px);
        z-index: 100;
        animation:  800ms linear infinite Turn; 

        &::after {
            @include pseudo-el;
            @include absolute-el(10px, 10px, 10px, 10px, auto, auto);
            border-radius: 100%;
            border: 5px solid transparent;
            border-left-color: $secondary;
            border-right-color: $secondary;
            opacity: 0.4;
            
        }

    }

}
